@charset "UTF-8";
.container {
  max-width: 1700px;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  .appeal {
    background-size: 900px !important;
    background-position-y: 300px !important;
  }
}

@media screen and (max-width: 1024px) {
  .appeal {
    background-size: 550px !important;
    background-position-y: 400px !important;
  }
  .appael-text-part {
    padding-left: 20px;
  }
  .wrap-dnd {
    display: block !important;
    padding-top: 40px;
  }
  .functionalPart__dnd {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .textPart__dnd {
    margin: 0 auto;
  }
  .title__dnd {
    margin-bottom: 30px !important;
  }
  .wrap-template {
    padding: 0 20px;
  }
  .tariff_item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .screen__home img {
    width: 900px;
    margin-top: 110px;
  }
}

@media screen and (min-width: 863px) {
  .adaptiveMenu {
    display: none;
  }
  .navbar__menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 862px) {
  .navbar__menu {
    display: none;
  }
  .screen__home img {
    width: 700px;
    margin-top: 110px;
  }
  .functionalPart__dnd {
    width: 750px   !important;
  }
}

@media (max-width: 768px) {
  .hero {
    overflow: hidden;
  }
  .screen__home img {
    width: 700px;
    margin-top: 110px;
  }
  .navbar__menu .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__menu {
    background: #244286;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 150px;
  }
  .appeal {
    background-position-y: 600px !important;
    background-size: 500px !important;
  }
  .tariff_item {
    margin-right: 15px !important;
  }
  .tariff_item:last-child {
    margin-right: 0 !important;
  }
  .achievets__list {
    display: block !important;
  }
  .achievets__item {
    margin-right: 0  !important;
    margin-bottom: 70px;
  }
  .wrap-dnd {
    padding: 10px 10px;
  }
  .functionalPart__dnd {
    width: 600px !important;
  }
  .description__dnd {
    line-height: 25px !important;
  }
}

@media screen and (max-width: 640px) {
  .appeal {
    background-size: 00px !important;
  }
  .functionalPart__dnd {
    display: none;
  }
  .wrap-dnd {
    padding: 100px;
  }
}

@media (max-width: 480px) {
  .navbar__manu__item a {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
  }
  .functionalPart__dnd {
    display: none;
  }
  .textPart__dnd {
    width: 400px !important;
  }
  .wrap-dnd {
    padding: 100px 0;
    height: 400px !important;
  }
  .list_tariffs {
    display: block !important;
  }
  .tariff_item {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
    width: 250px;
  }
  .tariff_item:last-child {
    margin: 0 auto !important;
  }
  .tariffs {
    height: 1100px !important;
  }
  .button__join_pricing {
    width: 150px;
  }
  .pricing {
    height: 1750px !important;
  }
  .wrap-footer {
    display: block !important;
  }
  .rights {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 426px) {
  .adaptive__login {
    display: none;
  }
}

@media (max-width: 425px) {
  .descktop__login {
    display: none;
  }
  .adaptive__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .screen__home img {
    width: 900px;
    margin-top: 0px;
    margin-left: 400px;
  }
  .appeal {
    background-size: 00px !important;
  }
  hr.line__template {
    background: #5584ff;
    max-width: 350px;
    min-width: 250px  !important;
  }
  .pointer__template {
    display: none !important;
  }
  .item__template {
    margin-bottom: 50px;
  }
  .title__template_item {
    margin-bottom: 20px !important;
  }
  .description__template_item {
    font-size: 20px;
    width: 350px !important;
  }
  .template {
    background: #f6f7fa url("../src/img/Screen Mockup.png") no-repeat center 110% !important;
  }
  .text__template_description {
    width: 350px !important;
  }
  .body__template_block {
    padding-top: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .textPart__dnd {
    width: 315px !important;
  }
  .description__dnd {
    width: 315px;
  }
}

@media screen and (max-width: 375px) {
  .footerNavigation {
    display: block !important;
  }
  .siteNavigation {
    margin-bottom: 10px;
  }
  .itemSiteLink:last-child {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .logoImg img {
    max-width: 200px;
  }
  .screen__home img {
    width: 900px;
    margin-top: 0px;
    margin-left: 600px;
  }
  .description__template_item {
    width: 250px !important;
    color: #466dbb !important;
  }
  .contentItemTamplate {
    width: 250px;
  }
  .button__join_pricing {
    padding: 10px;
    width: 212px;
  }
}

.navbar {
  position: absolute;
  width: 100%;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 10px;
}

.itemMenuNavbar {
  font-size: 18px;
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

.navbarMenu {
  list-style-type: none;
}

.navbarRightPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1280px;
}

.login__button {
  padding: 15px 45px;
  border: 1px #5584ff solid;
  border-radius: 45px;
  text-decoration: none;
  color: #5584ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.adaptiveMenu {
  color: white;
  font-size: 40px;
  margin-right: 20px;
}

.adaptive__login {
  padding-right: 10px;
  margin-top: -50px;
}

.adaptive__login a {
  margin: 0 auto;
}

.responsive {
  display: block;
}

.navbar__manu__item a:hover {
  color: #8492af;
}

.login__button:hover {
  border: 1px solid white;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero {
  background: url("../src/img/grapthOneLine.png") no-repeat center, url("../src/img/Grid.png") no-repeat center 20% #0e1a35;
  height: 1100px;
}

.hero__text {
  padding-top: 270px;
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
}

.hero-title {
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
  font-family: 'Roboto Thin';
}

.hero-description {
  color: #8492af;
  font-size: 36px;
}

.getStartedBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get__started {
  color: white;
  padding: 15px 45px;
  border-radius: 45px;
  background: #5584ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.get__started a {
  font-family: 'Roboto Bold';
  color: white;
  text-decoration: none;
}

.get__started:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 0px 41px 0px white;
  box-shadow: 0px 0px 41px 0px white;
}

.screen__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.coverScreenHome {
  position: absolute;
  top: 630 !important;
  display: block;
  bottom: 0;
}

.achievets-warp {
  min-height: 680px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.achievets__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievets__item {
  text-align: center;
  margin-right: 90px;
}

.achievets__item:last-child {
  margin-right: 0;
}

.achievets__title {
  font-family: 'Roboto Bold';
  font-size: 24px;
  margin-bottom: 20px;
}

.achievets__description {
  max-width: 320px;
  max-height: 59px;
  overflow: hidden;
  font-family: 'Roboto Regular';
  font-size: 18px;
  color: #8492af;
  margin-bottom: 40px;
}

.achievets__image img {
  max-height: 76px;
  margin-bottom: 30px;
}

.buttonSeeMore {
  display: inline-block;
  padding: 10px 80px;
  border: 1px #dce0e8 solid;
  border-radius: 45px;
  max-width: 250px;
}

.buttonSeeMore a {
  text-decoration: none;
  color: black;
}

.buttonSeeMore {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buttonSeeMore:hover {
  color: white;
  background: #9296a0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buttonSeeMore:hover a {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.appeal {
  background: #f6f7fa url("../src/img/appeal_ipad_plus_mac.png") no-repeat right;
  background-position-y: 250px;
}

.appeal-wrap {
  height: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.appael-text-part {
  width: 730px;
}

.appeal__title {
  font-family: 'Roboto Thin';
  font-size: 60px;
  color: #0e1a35;
  margin-bottom: 60px;
  margin-top: 250px;
}

.appeal__description {
  font-family: 'Roboto Regular';
  font-size: 18px;
  color: #8492af;
  margin-bottom: 60px;
  max-width: 580px;
  background: #f6f7fa;
}

.appeal_achievements_item {
  color: #5584ff;
  font-family: 'Roboto Regular';
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.farAppeal {
  margin-right: 20px;
}

.dnd {
  background: url("../src/img/grapthOneLine.png") no-repeat center, url("../src/img/Grid.png") no-repeat center 10% #0e1a35;
}

.wrap-dnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 750px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functionalPart__dnd {
  width: 830px;
}

.textPart__dnd {
  width: 500px;
}

.title__dnd {
  font-size: 60px;
  color: white;
  font-family: 'Roboto Thin';
  margin-bottom: 50px;
}

.description__dnd {
  font-size: 18px;
  color: #8492af;
  font-family: 'Roboto Regular';
  line-height: 30px;
}

.information__static__dnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.inProgressDnd {
  margin-right: 170px;
}

.titleProcess {
  color: white;
}

.information__item {
  font-family: 'Roboto Medium';
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colorGrey {
  color: #8492af;
}

.arrowToCompleted {
  font-size: 40px;
  margin-right: 45px;
}

.body__dnd {
  height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partOfTask {
  width: 400px;
  margin-right: 20px;
}

.taskItem {
  height: 100px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
  margin-bottom: 10px;
  cursor: move;
}

.avatar_creator {
  font-size: 45px;
  color: #5584ff;
  margin-right: 25px;
}

.description__task {
  font-size: 18px;
  color: #0e1a35;
  margin-bottom: 10px;
}

.taskTimePart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8e9bb5;
}

.imgTime__task {
  margin-right: 5px;
}

.time__task {
  font-size: 12px;
}

.controlPanelTask {
  margin-left: auto;
  font-size: 30px;
  color: #8e9bb5;
}

.selected {
  opacity: 0.5;
}

.completedTask {
  color: green;
}

.template {
  height: 1200px;
  background: #f6f7fa url("../src/img/Screen Mockup.png") no-repeat center 70%;
}

.wrap-template {
  padding-top: 100px;
}

.body__template_block {
  padding-top: 100px;
}

.title_section_temp {
  font-family: 'Roboto Thin';
  font-size: 60px;
  color: 0e1a35;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.description_section_temp {
  font-size: 18px;
  font-family: 'Roboto Regular';
  width: 100%;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.description__template_item {
  color: #8492af;
}

.text__template_description {
  width: 70%;
  margin-top: 40px;
}

.title__template_item {
  font-family: 'Roboto Bold';
  font-size: 24px;
  color: #0e1a35;
}

.title__template_item.leftPart {
  text-align: right;
}

.description__template_item.leftPart {
  text-align: right;
  margin-left: auto;
}

.pointer__template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

hr.line__template {
  background: #5584ff;
  max-width: 550px;
  overflow: hidden;
  height: 1px;
  margin: 0;
  min-width: 450px;
}

.circle__template {
  width: 50px;
  height: 50px;
  background: #95b2fd;
  border-radius: 50%;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.littleCircle {
  width: 35px;
  height: 35px;
  background: #5584ff;
  border-radius: 50%;
}

.description__template_item {
  width: 250px;
}

.downItem__template {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.contentItemTamplate {
  margin-left: auto;
}

.pricing {
  height: 1000px;
}

.prostok {
  min-width: 100%;
  background: url("../src/img/Prostoką.png");
  margin-top: -100px;
  height: 150px;
}

.title__pricing_block {
  font-size: 60px;
  font-family: 'Roboto Thin';
  color: #0e1a35;
  text-align: center;
  margin-bottom: 100px;
}

.tariffs {
  height: 450px;
}

.list_tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff_item {
  -webkit-box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 30px 30px 20px 30px;
  background: white;
  margin-right: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  max-width: 300px;
}

.tariff_item:hover {
  -webkit-box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.61);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.tatile_tariff {
  font-size: 24px;
  font-family: 'Roboto Regular';
  color: #0e1a35;
  margin-bottom: 15px;
}

.numberPrice {
  font-size: 72px;
  font-family: 'Roboto Bold';
  color: #0e1a35;
}

.priceForTariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}

.dollarIcon {
  font-size: 24px;
}

.durationPrice {
  color: #8492af;
}

.includeItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.includedThing {
  margin-right: 10px;
  color: #5284ff;
}

.descriptionIncluded {
  color: #8492af;
}

.unIncludedThing {
  margin-right: 10px;
  color: #f83c7b;
}

.description__pricing {
  color: #8492af;
  font-size: 18px;
  font-family: 'Roboto Regular';
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.text__pricing {
  max-width: 900px;
  text-align: center;
  line-height: 30px;
}

.button_join_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockGreyLine {
  width: 200px;
  height: 1px;
  background: #8492af;
}

.button__join_pricing {
  padding: 10px 30px;
  color: white;
  background: #5584ff;
  border-radius: 45px;
  margin: 0 30px;
  cursor: pointer;
}

.button__join_pricing:hover {
  -webkit-box-shadow: 0px 0px 43px 0px #8492af;
  box-shadow: 0px 0px 43px 0px #8492af;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer {
  background: #0e1a35;
  color: #8492af;
}

.wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 10px;
}

.wrap-footer a {
  text-decoration: none;
  color: #8492af;
}

.wrap-footer a:hover {
  text-decoration: none;
  color: #abbcdf;
}

.footerNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.siteNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemSiteLink {
  margin-right: 35px;
  font-size: 18px;
  font-family: 'Roboto Regular';
}

.socialNavigationItem {
  margin-right: 10px;
}

.list_social_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 24px;
}

.linksOnSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.rights {
  max-width: 250px !important;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */