@font-face {
    font-family: 'Roboto Thin';
    src: url('../../src/fonts/Roboto-Thin.eot');
    src: url('../../src/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../src/fonts/Roboto-Thin.woff') format('woff'),
    url('../../src/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../src/fonts/Roboto-Bold.eot');
    src: url('../../src/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../src/fonts/Roboto-Bold.woff') format('woff'),
    url('../../src/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../src/fonts/Roboto-Regular.eot');
    src: url('../../src/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../src/fonts/Roboto-Regular.woff') format('woff'),
    url('../../src/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('Roboto-Medium.eot');
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Medium.woff') format('woff'),
    url('Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}