.container 
  max-width: 1700px
  margin: auto
  
// @media (max-width: 1440px)
// @media (max-width: 1024px)
@media screen and ( max-width:1440px  )
  .appeal
    background-size: 900px !important  
    background-position-y: 300px !important  
  
@media screen and ( max-width:1024px  )
  .appeal
    background-size: 550px !important  
    background-position-y: 400px !important
  .appael-text-part
    padding-left: 20px
  .wrap-dnd
    display: block !important
    padding-top: 40px
  .functionalPart__dnd
    margin: 0 auto
    margin-bottom: 20px
  .textPart__dnd  
    margin: 0 auto  
  .title__dnd
    margin-bottom: 30px !important 
  .wrap-template
    padding: 0 20px   
  .tariff_item:last-child
    margin-right: 0
  

@media (max-width: 960px)
  .screen__home img
      width: 900px
      margin-top: 110px

@media screen and ( min-width: 863px )
  .adaptiveMenu
    display: none
  .navbar__menu
    display: flex !important

@media screen and ( max-width: 862px )
  .navbar__menu
    display: none    
  .screen__home img
      width: 700px
      margin-top: 110px
  .functionalPart__dnd
    width: 750px   !important   
        


@media (max-width: 768px)
  .hero
    overflow: hidden
  .screen__home img
      width: 700px
      margin-top: 110px
  .navbar__menu .responsive
    display: flex 
  .navbar__menu
    background: #244286
    width: 100%
    text-align: center
    position: absolute
    left: 0
    top: 150px 
  .appeal
    background-position-y: 600px !important
    background-size: 500px !important
  .tariff_item
    margin-right: 15px !important
  .tariff_item:last-child
    margin-right: 0 !important    
   
  .achievets__list
    display: block !important  
  .achievets__item
    margin-right: 0  !important
    margin-bottom: 70px 
  .wrap-dnd
    padding: 10px 10px 
  .functionalPart__dnd
    width: 600px !important  
  .description__dnd
    line-height: 25px !important     


@media screen and ( max-width:640px  )
  .appeal
    background-size: 00px !important
  .functionalPart__dnd
    display: none
  .wrap-dnd
    padding: 100px    
    

@media ( max-width: 480px )
  .navbar__manu__item a
    font-size: 30px
    display: block
    margin-bottom: 10px
  .functionalPart__dnd
    display: none
  .textPart__dnd
    width: 400px !important  
  .wrap-dnd
    padding: 100px 0  
    height: 400px !important
  .list_tariffs
    display: block !important
  .tariff_item
    margin: 0 auto !important
    margin-bottom: 50px !important
    width: 250px
  .tariff_item:last-child
    margin:  0 auto !important
  .tariffs
    height: 1100px !important
  .button__join_pricing
    width: 150px
  .pricing
    height: 1750px !important 
  .wrap-footer
    display: block !important
  .rights
    margin-bottom: 10px !important 

@media ( min-width: 426px )
  .adaptive__login
    display: none
        
@media (max-width: 425px)
  .descktop__login
    display: none
  .adaptive__login
    display: flex

  .screen__home img
      width: 900px
      margin-top: 0px
      margin-left: 400px
  .appeal
    background-size: 00px !important  
  hr
    &.line__template
        background: #5584ff
        max-width: 350px
        min-width: 250px  !important
  .pointer__template
      display: none !important
  .item__template
    margin-bottom: 50px
  .title__template_item 
    margin-bottom: 20px !important
  .description__template_item  
    font-size: 20px
    width: 350px !important
  .template
    background: #f6f7fa url('../src/img/Screen Mockup.png') no-repeat center 110% !important
  .text__template_description
    width: 350px !important
  .body__template_block
    padding-top: 20px !important
// @media (max-width: 375px)
@media screen and ( max-width: 400px  )
  .textPart__dnd
    width: 315px !important
  .description__dnd
    width: 315px
    height: 
  
@media screen and ( max-width: 375px )
  .footerNavigation
    display: block !important
  .siteNavigation
    margin-bottom: 10px
  .itemSiteLink:last-child
    margin-right: 0
    

@media (max-width: 320px)
  .logoImg img 
    max-width: 200px
  .screen__home img
      width: 900px
      margin-top: 0px
      margin-left: 600px
  .description__template_item
    width: 250px !important
    color: #466dbb !important
  .contentItemTamplate
    width: 250px
  .button__join_pricing
    padding: 10px
    width: 212px
       
  