.achievets-warp
    min-height: 680px
    background: white 
    display: flex
    justify-content: center
    align-items: center
    margin-top: 100px

.achievets__list
    display: flex 
    align-items: center  

.achievets__item
    text-align: center
    margin-right: 90px
    
.achievets__item:last-child
    margin-right: 0    

.achievets__title 
    font-family: 'Roboto Bold'
    font-size: 24px    
    margin-bottom: 20px

.achievets__description
    max-width: 320px   
    max-height: 59px
    overflow: hidden
    font-family: 'Roboto Regular'
    font-size: 18px    
    color: #8492af
    margin-bottom: 40px

.achievets__image img
    max-height: 76px 
    margin-bottom: 30px   

.buttonSeeMore
    display: inline-block
    padding: 10px 80px
    border: 1px #dce0e8 solid
    border-radius: 45px    
    max-width: 250px

.buttonSeeMore a
    text-decoration: none
    color: black

.buttonSeeMore
    cursor: pointer
    transition: 0.2s 

.buttonSeeMore:hover
    color: white
    background: #9296a0
    transition: 0.2s 
    a
        color: white
        transition: 0.2s 
