.appeal
    background: #f6f7fa  url('../src/img/appeal_ipad_plus_mac.png')  no-repeat right
    background-position-y: 250px
.appeal-wrap
    height: 920px
    display: flex
  
.appael-text-part
    width: 730px

.appeal__title
    font-family: 'Roboto Thin'
    font-size: 60px
    color: #0e1a35
    margin-bottom: 60px
    margin-top: 250px
.appeal__description
    font-family: 'Roboto Regular'
    font-size: 18px
    color: #8492af
    margin-bottom: 60px
    max-width: 580px
    background: #f6f7fa

.appeal_achievements_item    
    color: #5584ff 
    font-family: 'Roboto Regular'
    font-size: 22px
    display: flex
    align-items: center  
    margin-top: 30px    

.farAppeal
    margin-right: 20px    