.dnd
    background:  url('../src/img/grapthOneLine.png')  no-repeat center  ,url('../src/img/Grid.png')   no-repeat center 10% #0e1a35
.wrap-dnd
    display: flex
    height: 750px
    justify-content: center
    align-items: center

.functionalPart__dnd
    width: 830px
.textPart__dnd
    width: 500px

.title__dnd
    font-size: 60px
    color: white
    font-family: 'Roboto Thin'
    margin-bottom: 50px
.description__dnd
    font-size: 18px
    color: #8492af
    font-family: 'Roboto Regular' 
    line-height: 30px       

.information__static__dnd
    display: flex
    width: 100%
    align-items: center
    margin-bottom: 50px

.inProgressDnd
    margin-right: 170px    

.titleProcess
    color: white

.information__item 
    font-family: 'Roboto Medium'
    font-size: 30px 
    display: flex  
    
.colorGrey 
    color: #8492af 
.arrowToCompleted
    font-size: 40px 
    margin-right: 45px     

.body__dnd    
    height: 326px
    display: flex

.partOfTask
    width: 400px
    margin-right: 20px

.taskItem
    height: 100px
    background: white
    display: flex
    align-items: center 
    justify-content: center
    padding: 0 25px
    margin-bottom: 10px
    cursor: move

.avatar_creator
    font-size: 45px
    color: #5584ff
    margin-right: 25px

.description__task
    font-size: 18px
    color: #0e1a35
    margin-bottom: 10px

.taskTimePart
    display: flex
    align-items: center
    color: #8e9bb5 
    
.imgTime__task
    margin-right: 5px    
.time__task
    font-size: 12px    

.controlPanelTask
    margin-left: auto
    font-size: 30px
    color: #8e9bb5      

.selected
    opacity: 0.5

.completedTask
    color: green      