footer
    background: #0e1a35
    color: #8492af

.wrap-footer
    display: flex
    align-items: center
    justify-content: space-between
    padding: 35px 10px
    & a
        text-decoration: none
        color: #8492af
    & a:hover
        text-decoration: none
        color: #abbcdf


.footerNavigation
    display: flex

.siteNavigation
    display: flex

.socialNavigation
    display: flex

.itemSiteLink
    margin-right: 35px
    font-size: 18px
    font-family: 'Roboto Regular'

.socialNavigationItem
    margin-right: 10px

.list_social_items
    display: flex
    margin: 0 auto
    font-size: 24px

.linksOnSite
    display: flex
    margin: 0 auto

.rights
    max-width: 250px !important
    margin: 0 auto
