.hero
    background:  url('../src/img/grapthOneLine.png')  no-repeat center  ,url('../src/img/Grid.png')   no-repeat center 20% #0e1a35
    height: 1100px


.hero__text
    padding-top: 270px
    width: 100%    
    text-align: center
    margin-bottom: 90px

.hero-title
    color: white
    font-size: 60px
    margin-bottom: 30px
    font-family: 'Roboto Thin'

.hero-description
    color: #8492af   
    font-size: 36px 

.getStartedBtn
    display: flex
    justify-content: center  

.get__started
    color: white
    padding: 15px 45px
    border-radius: 45px
    background: #5584ff
    transition: 0.2s
    cursor: pointer
    a
        font-family: 'Roboto Bold'
        color: white
        text-decoration: none  
          
.get__started:hover
    transition: 0.4s
    -webkit-box-shadow: 0px 0px 41px 0px rgba(255,255,255,1)
    -moz-box-shadow: 0px 0px 41px 0px rgba(255,255,255,1)
    box-shadow: 0px 0px 41px 0px rgba(255,255,255,1)
    


.screen__home
    display: flex
    width: 100%
    justify-content: center        
    margin-top: 30px

.coverScreenHome
    position: absolute
    top: 630 !important
    display: block
    bottom: 0
