.navbar
    position: absolute
    width: 100%

.navbar-
    &wrap
        display: flex
        align-items: center
        min-height: 200px
        justify-content: space-between
        padding: 0 20px 0 10px 

.itemMenuNavbar
    font-size: 18px
    margin-right: 50px
    color: white
    text-decoration: none
  
.navbarMenu 
    ul
    list-style-type: none            
    
.navbarRightPart
    display: flex
    align-items: center

.container
    max-width: 1280px

.login__button
    padding: 15px 45px
    border: 1px #5584ff solid
    border-radius: 45px  
    text-decoration: none
    color: #5584ff  
    transition: 0.2s           

.adaptiveMenu
    color: white
    font-size: 40px
    margin-right: 20px    

.adaptive__login
    padding-right: 10px
    margin-top: -50px
    a
        margin: 0 auto   

.responsive 
    display: block        

.navbar__manu__item a:hover
    color: #8492af

.login__button:hover
    border: 1px solid white
    color: white
    transition: 0.2s       