.pricing
    height: 1000px

.prostok
    min-width: 100%
    background: url('../src/img/Prostoką.png')
    margin-top: -100px
    height: 150px
.title__pricing_block
    font-size: 60px
    font-family: 'Roboto Thin'
    color: #0e1a35
    text-align: center
    margin-bottom: 100px

.tariffs
    height: 450px
.list_tariffs
    display: flex
    justify-content: center
    align-items: center

.tariff_item
    -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.15)
    -moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.15)
    box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.15)
    text-align: center
    padding: 30px 30px 20px 30px
    background: white
    margin-right: 100px
    transition: 0.4s
    max-width: 300px
.tariff_item:hover
    -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.61)
    -moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.61)
    box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.61)
    cursor: pointer
    transition: 0.4s

.tatile_tariff
    font-size: 24px
    font-family: 'Roboto Regular'
    color: #0e1a35
    margin-bottom: 15px

.numberPrice
    font-size: 72px
    font-family: 'Roboto Bold'
    color: #0e1a35

.priceForTariff
    display: flex
    justify-content: center
    align-items: baseline 
    margin-bottom: 30px

.dollarIcon
    font-size: 24px  
.durationPrice
    color: #8492af
.includeItem
    display: flex 
    margin-bottom: 10px

.includedThing
    margin-right: 10px
    color: #5284ff

.descriptionIncluded
    color: #8492af
.unIncludedThing
    margin-right: 10px
    color: #f83c7b

.description__pricing
    color: #8492af
    font-size: 18px
    font-family: 'Roboto Regular'
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 60px

.text__pricing
    max-width: 900px
    text-align: center
    line-height: 30px

.button_join_now
    display: flex
    justify-content: center
    align-items: center

.blockGreyLine
    width: 200px
    height: 1px
    background: #8492af

.button__join_pricing
    padding: 10px 30px
    color: white
    background: #5584ff
    border-radius: 45px
    margin: 0 30px
    cursor: pointer

.button__join_pricing:hover
    -webkit-box-shadow: 0px 0px 43px 0px #8492af
    -moz-box-shadow: 0px 0px 43px 0px #8492af
    box-shadow: 0px 0px 43px 0px #8492af
    transition: 0.4s