
.template
    height: 1200px
    background: #f6f7fa url('../src/img/Screen Mockup.png') no-repeat center 70%

.wrap-template
    padding-top: 100px

.body__template_block
    padding-top: 100px
.title_section_temp
    font-family: 'Roboto Thin' 
    font-size: 60px
    color: 0e1a35
    text-align: center
    width: 100%
    margin-bottom: 60px
.description_section_temp
    font-size: 18px 
    font-family: 'Roboto Regular'  
    width: 100% 
    line-height: 30px
    display: flex
    justify-content: center
    margin-bottom: 70px

.description__template_item 
    color: #8492af
.text__template_description
    width: 70%  
    margin-top: 40px

.title__template_item
    font-family: 'Roboto Bold'
    font-size: 24px
    color: #0e1a35

.title__template_item
    &.leftPart
        text-align: right

.description__template_item
    &.leftPart
        text-align: right
        margin-left: auto    

.pointer__template 
    display: flex  
    align-items: center
    margin-top: -15px

hr
    &.line__template
        background: #5584ff
        max-width: 550px
        overflow: hidden
        height: 1px  
        margin: 0  
        min-width: 450px
.circle__template
    width: 50px
    height: 50px
    background: #95b2fd
    border-radius: 50% 
    margin-left: -20px 
    display: flex
    justify-content: center
    align-items: center 
.littleCircle
    width: 35px
    height: 35px
    background: #5584ff
    border-radius: 50% 

.description__template_item
    width: 250px

.downItem__template
    margin-left: auto
    margin-right: 0
    display: flex
    align-items: right

.contentItemTamplate
    margin-left: auto        